In [2]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 999

In [3]:
#Read data
df = pd.read_csv("../../Data/Tidy_Full.csv", index_col = 0)

In [4]:
#Inspect data
df.head()

,CompID,Name,Sex,Class,Division,BestBP,Total,Place,BestSQ,BestDL,...,BP2,BP3,Wilks,SQ1,SQ2,SQ3,DL1,DL2,DL3,DOB
Index,,,,,,,,,,,,,,,,,,,,,
0,1,Barbara Hamilton,F,56,O/50,42.5/43,42.5,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Nat Zacharko,F,56,O/40,60,60,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Dean Jenkinson,M,67.5,Open,125,125,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Aaron McFarlane,M,67.5,Open,105,105,2-Jan,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,David Graham,M,67.5,O/60,52.5,52.5,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Goals:
- Homogenize column values
- Fix data types
- Change no-lifts to minus (rather than x suffix)

##### Sex column

In [5]:
#Inspect
df.Sex.value_counts()

M           15488
F            6969
M-O            63
M-J            43
m              42
F-O            18
F-J            17
f              16
M-M1           16
M - Open       12
M-SJ           11
M-M3           11
F-M1           11
F - M1          7
F - Open        6
M - O           6
M-M2            6
M-Sub           5
W               4
M - M2          3
M-BL            2
F - M2          2
F-SJ            2
F-M3            2
F-M4            1
M - U18         1
M-Jnr           1
M - M1          1
F-M2            1
M - SJ          1
Name: Sex, dtype: int64

In [6]:
#Fix
def fix_sex(df):
    df.Sex = df.Sex.replace({'m': 'M', 'f': 'F', 'W': 'F'})
    df.Sex = df.Sex.str.replace(' ','')
    df[df.Sex.str.contains('-')].Division.isnull().all() #All rows with div info in sex column have nulls in div column
    df.Division.fillna(pd.DataFrame(df.Sex.str.split('-').to_list(), columns = ['Sex', 'Division'])['Division'], inplace = True)
    df.Sex = pd.DataFrame(df.Sex.str.split('-').to_list(), columns = ['Sex', 'Division'])['Sex']
    return df

##### Class column

In [7]:
#Inspect
#df[~df.Class.fillna('').str.match(r'^-?\d+(\.\d+)?[+]?$')].Class.value_counts() #Possibly bad values
df[df.Class.fillna('').str.match(r'^-?\d+(\.\d+)?[+]?$')].Class.value_counts() #Okay values
#df[df.Class.fillna('').str.match(r'^-?\d+(\.\d+)?[+]?$')].Class.value_counts().plot(kind='bar') #Histogram of okay values

82.5      846
90        767
75        735
100       598
67.5      504
83        483
93        473
110       459
105       447
125       390
74        315
120       261
125+      238
60        228
56        173
120+      167
66        166
52        162
63        145
72        121
57        110
84         91
84+        90
90+        85
48         56
59         42
47         37
44          5
75.5        1
92.54       1
55.9        1
120.8       1
89.2        1
102         1
76.4        1
67.6        1
117.26      1
66.9        1
89.6        1
62.5        1
Name: Class, dtype: int64

In [8]:
#Fix
def fix_class(df):
    df.Class = df.Class.str.replace('kg', '')
    df.Class = df.Class.str.replace('x', '')
    df.Class = df.Class.str.replace(' ', '')
    df[df.Class.fillna('').str.contains('-')].Division.isnull().all() #All rows with div info in class column have nulls in div column
    df.Division.fillna(pd.DataFrame(df.Class.fillna('').str.split('-').to_list(), columns = ['Class', 'Division'])['Division'], inplace = True)
    df.Class = pd.DataFrame(df.Class.fillna('').str.split('-').to_list(), columns = ['Class', 'Division'])['Class']
    df.Class.replace('', np.nan, inplace = True)
    #Look up special case comp tables to check for errors
    df.replace({'Class' : { '125.00+' : '125+', '66.9': '67.5', '55.9': '56', '62.5': '67.5', '67.6': '67.5', '75.5': '75'}}, inplace = True)
    for i in [1338, 1556, 1558, 3446, 3473, 7510, 7528]:
        temp = df.loc[i, 'BDW']
        df.loc[i, 'BDW'] = df.loc[i, 'Class']
        df.loc[i, 'Class'] = temp
    return df

##### DOB column

In [9]:
#Inspect
df.DOB.value_counts()
#set([k[0] for j, k in df[df.DOB.notnull()].iterrows() if any(substring in k[21] for substring in ['PNG', 'NRU', '????', 'DQ', '-', 'NAU', 'NZPF', 'TUV', '???', 'PRC', 'NZ', 'NIU'])])

1993     942
1992     813
1994     811
1995     772
1991     626
1989     619
1990     616
1996     614
1997     545
1987     491
1988     465
1986     364
1998     356
1982     344
1985     317
1984     305
1981     292
1983     277
1980     256
1999     236
1979     204
2000     201
1977     187
1975     166
1978     151
1970     149
1973     149
1974     142
2001     136
1976     126
2002     123
1969     122
1965     117
1966     113
1971     106
1967     102
1968     102
1972     101
1964      95
1961      90
1962      85
1956      79
1948      74
OPEN      69
1963      65
1958      62
1960      53
2003      52
1959      46
1957      42
1955      41
1949      37
2004      35
1945      32
1954      30
1950      29
1947      29
1953      28
O/40      27
1952      26
23        24
U/23      23
O         22
28        20
1944      20
O/60      19
1951      16
0         16
25        15
O/50      15
1939      15
27        14
26        14
PNG       13
NRU       12
35        11
1941      11
34        10
21        10
22        10
30         9
29         9
31         8
20         8
????       7
2005       7
1943       7
32         6
1940       6
24         6
DQ         5
0/60       5
39         5
U/18       5
57         5
17         4
37         4
38         4
0/40       4
U/19       4
19         3
-          3
40         3
56         3
18         3
16         3
41         3
33         3
42         3
55         2
NAU        2
1938       2
U23        2
1932       2
0/50       2
2006       2
2007       2
44         2
U18        2
19408      1
59         1
36         1
M1         1
1933       1
VIC.       1
63         1
34865      1
43         1
1680       1
O/70       1
53         1
33130      1
NIU        1
2016       1
PRC        1
33943      1
32201      1
2020       1
`987       1
1886       1
2014       1
33836      1
SJ         1
48         1
52         1
NZ         1
Guest      1
995        1
34706      1
NZPF       1
TUV        1
45         1
1930       1
1946       1
33991      1
???        1
33490      1
15         1
34151      1
47         1
Name: DOB, dtype: int64

In [10]:
#Fix
def fix_dob(df):
    #Division in DOB column
    for i in [103, 109, 113, 114, 141, 142, 144, 146, 168, 177, 184, 214]:
        df.loc[df.CompID == i, 'Division'] = df.loc[df.CompID == i, 'DOB']
        df.loc[df.CompID == i, 'DOB'] = np.nan
    #Words in DOB column
    df.DOB.replace(['PNG', 'NRU', '????', 'DQ', '-', 'NAU', 'NZPF', 'TUV', '???', 'PRC', 'NZ', 'NIU'], np.nan, inplace = True)
    df.DOB.replace('`987', 1987, inplace = True)
    #Big numbers
    df.DOB.replace('\d{5}', np.nan, inplace = True, regex = True)
    #Small numbers
    df.replace({'DOB' : { '0' : np.nan, '1886': 1986, '1680': 1980, '995': 1995}}, inplace = True)
    df.loc[17261, 'DOB'] = 2018-30; df.loc[12972, 'DOB'] = 2016-35; df.loc[12975, 'DOB'] = 2018-30; df.loc[18635, 'DOB'] = 2018-27
    for i,j in zip([572, 574, 606, 612, 665, 939, 940], [2015, 2015, 2016, 2016, 2017, 2020, 2020]):
        df.loc[df.CompID == i, 'DOB'] = j-df.loc[df.CompID == i, 'DOB']
    #Too close to current year
    df.replace({'DOB' : { 2014 : np.nan, 2016: np.nan, 2020: np.nan}}, inplace = True)
    df.loc[12166, 'DOB'] = np.nan
    return df

##### Division column

In [11]:
#Inspect
df.Division.value_counts()
#Check rows with weird entries
#set([k[0] for j, k in df[df.Division.notnull()].iterrows() if any(substring in k[4] for substring in ['"'])])

O              1887
Open            681
J               503
M1              498
M2              310
SJ              212
M3              192
O/40            160
OPEN            131
"               114
O/50             90
O/60             89
U/23             80
Jnr              54
M4               50
VIC              35
Op               31
JNR              30
U18              26
o                23
U/19             21
BP               20
Classic          20
Jun              20
MI               18
Bp               17
O-O              17
Junior           17
U23              16
Nov              15
open             15
SJNR             15
SUB JNR          13
O-O/40           12
U/18             11
M                10
JR                9
0/50              9
O/70              8
Guest             8
MII               8
b                 8
0/40              7
OVER 40           7
MIII              7
Uni               7
OPEN?             7
Op-O/40           6
APFC              6
Oceania           6
O-U23             6
M I               5
1                 5
O-U/23            5
OPEN/O40          5
Op/O40            5
O - O/40          5
NOV.              4
Elite Bench       4
m2                4
U / 18            4
Uni/VIC           4
O18               4
OVER 50           4
u18               4
M III             4
jnr               4
Sub-Jun           4
0/60              4
ABSF              3
Op/u23            3
U16               3
SJun              3
OVER 60           3
mst               3
INVIT             3
J,BO,BP           3
S/JR              3
MIII*             3
u23               3
O - M1            3
Jun/VIC           3
O/80              3
m3                2
M4?               2
Op/o60            2
S/JNR             2
U17               2
O Inv             2
O - M2            2
U/23-Open         2
O-O40             2
M II              2
Jr                2
40+               2
BO                2
SJnr              2
ABFC              2
O-O60             2
U/18-Open         2
s/jnr             2
Masters 2         1
NOV               1
MII?              1
MI/ABSF           1
O - O/50          1
M1 & O            1
0/80              1
SP                1
M5                1
blind             1
Blind             1
Uni/Jun           1
Sub Jnr           1
O-O/50            1
O??               1
Op/u18            1
BO,BP             1
GUEST             1
Masters 1         1
OPEN & 0/50       1
m1                1
Op - O/40         1
O - O/60          1
Op-O/50           1
J, BP             1
Masters           1
MII*              1
O50               1
Masters 3         1
Jun/Uni           1
Sub-Junior        1
O-BL              1
Jnr?              1
O?                1
Snr               1
Name: Division, dtype: int64

In [12]:
#Fix
def fix_division(df):
    df.loc[df.CompID == 64, 'Division'] = df[df.CompID == 64].Division.str.replace('"', 'Snr')
    df.Division = df.Division.str.replace('"', 'Open')
    divsemdf = pd.read_csv("../../Data/Division_semantics.csv", engine = 'python')
    #Map words to semantic meaning
    semdict = {tuple(divsemdf[divsemdf[col].notnull()][col]): col for col in divsemdf.columns}
    semmap = {}
    for k, v in semdict.items():
        for key in k:
            semmap[key] = v
    #Change words
    df.Division.replace(semmap, inplace = True)
    df.Division.replace('Unknown', np.nan, inplace = True)
    df.loc[[5546, 3277], 'Division'] = 'MI'
    return df

##### Wilks column

In [13]:
#Inspect
#df.Wilks.value_counts()
df[~df.Wilks.fillna('').str.match(r'^-?\d+(\.\d+)?[+]?$')].Wilks.value_counts()
#df[df.Wilks.str.match('\.$') == True] #Check none start with .
#df[df.Wilks.str.match('^\.') == True] #Check none end with .

BMB          389
-            368
x              6
out            5
Disq.          4
344,24         2
264,79         2
369,65         2
297,47         2
397,16         2
284,38         2
324,69         2
358,17         2
423,08         2
423,41         2
375,98         2
411,60         2
408,68         2
345,10         2
449,17         2
265,36         2
343,02         2
450,14         2
275,57         2
358,68         2
418,95         2
340,41         2
352,01         2
350,47         2
309,60         2
318,96         2
387,15         2
361,59         2
369,20         2
300,51         2
324,09         2
344,52         2
312,56         2
337,26         2
281,74         2
356,67         2
231,37         2
296,59         2
338,72         2
331,04         2
373,91         2
331,55         2
314,68         1
324,95         1
287,74         1
292,58         1
266,77         1
319,52         1
422,25         1
341,44         1
428,21         1
488,03         1
369,71         1
342,67         1
365,84         1
368,30         1
334,74         1
373,47         1
406,30         1
428,61         1
367,89         1
345,96         1
443,72         1
421,53         1
353,54         1
393,12         1
410,64         1
238,30         1
318,80         1
372,56         1
120,35         1
324,03         1
331,68         1
379,21         1
407,31         1
324,32         1
335,20         1
396,78         1
333,89         1
379,32         1
277,97         1
319,64         1
320,47         1
329,88         1
469,06         1
274,73         1
392,41         1
414,89         1
407,11         1
491,71         1
420,83         1
321,49         1
265,76         1
97,39          1
306,61         1
376,14         1
316,54         1
253,15         1
300,11         1
263,49         1
361,76         1
409,25         1
368,16         1
346,32         1
392,15         1
376,28         1
439,32         1
340,89         1
332,49         1
375,37         1
302,00         1
419,28         1
339,19         1
376,00         1
398,14         1
395,84         1
328,00         1
428,00         1
337,69         1
296,08         1
209,04         1
273,72         1
315,77         1
319,77         1
346,04         1
292,18         1
355,74         1
264,50         1
106,35         1
383,87         1
382,62         1
314,72         1
317,80         1
432,92         1
322,20         1
369,51         1
326,47         1
436,83         1
261,87         1
365,23         1
282,32         1
348,87         1
357,50         1
244,89         1
333,65         1
393,04         1
302,23         1
372,23         1
204,45         1
241,65         1
?              1
333,29         1
392,19         1
withdrawn      1
326,71         1
427,14         1
95,55          1
66,25          1
393,89         1
296,16         1
331,26         1
77,14          1
297,00         1
243,72         1
385,58         1
425,14         1
256,49         1
438,29         1
340,82         1
103,33         1
387,26         1
415,31         1
67,78          1
372,98         1
301,31         1
415,37         1
334,47         1
418,10         1
355,92         1
392,25         1
353,03         1
358,96         1
331,15         1
289,64         1
291,58         1
356,85         1
371,31         1
205,05         1
334,08         1
342,75         1
269,23         1
357,96         1
296,11         1
361,93         1
309,04         1
328,94         1
269,05         1
402,91         1
384,30         1
434,64         1
346,55         1
366,46         1
83,56          1
270,10         1
260,66         1
78,62          1
291,41         1
361,36         1
299,12         1
470,71         1
99,17          1
284,67         1
477,26         1
368,13         1
370,38         1
406,98         1
384,65         1
390,98         1
343,62         1
442,96         1
409,29         1
337,44         1
420,62         1
80,00          1
419,00         1
322,42         1
285,17         1
285,14         1
478,95         1
326,43         1
286,56         1
448,86         1
322,28         1
277,18         1
305,75         1
231,71         1
401,94         1
286,67         1
446,83         1
355,78         1
482,68         1
469,27         1
276,13         1
335,03         1
386,46         1
313,52         1
423,94         1
367,03         1
194,20         1
350,15         1
366,66         1
367,77         1
402,07         1
308,48         1
333,13         1
331,99         1
319,04         1
365,55         1
108,31         1
474,38         1
81,17          1
410,63         1
Disq           1
305,23         1
268,82         1
368,99         1
284,95         1
408,60         1
379,86         1
301,71         1
335,37         1
399,55         1
354,43         1
95,63          1
60,32          1
328,65         1
347,98         1
331,40         1
316,37         1
420,22         1
316,48         1
103,97         1
255,29         1
250,64         1
304,87         1
336,74         1
367,19         1
338,10         1
369,96         1
356,79         1
294,79         1
377,88         1
403,09         1
363,46         1
364,01         1
DQ (fees)      1
86,05          1
263,44         1
324,05         1
389,36         1
348,10         1
377,37         1
339,16         1
409,33         1
383,25         1
343,74         1
299,40         1
368,50         1
321,80         1
390,34         1
370,19         1
348,13         1
405,55         1
408,61         1
443,24         1
275,49         1
343,63         1
319,08         1
388,50         1
362,45         1
278,89         1
341,20         1
433,90         1
293,66         1
335,86         1
293,84         1
384,12         1
103,81         1
116,91         1
303,64         1
442,22         1
335,36         1
340,99         1
381,36         1
352,63         1
299,66         1
481,38         1
68,45          1
396,06         1
98,65          1
301,40         1
457,88         1
337,74         1
287,48         1
339,20         1
291,51         1
385,37         1
435,13         1
338,12         1
382,95         1
384,11         1
282,27         1
308,50         1
332,41         1
275,40         1
332,60         1
432,60         1
373,32         1
334,97         1
381,78         1
323,63         1
330,92         1
326,73         1
133,88         1
304,62         1
337,98         1
314,37         1
388,64         1
338,02         1
105,01         1
269,41         1
404,46         1
282,58         1
383,34         1
84,61          1
415,01         1
294,38         1
273,32         1
395,38         1
344,97         1
423,23         1
382,86         1
311,32         1
441,11         1
342,85         1
291,02         1
383,27         1
431,28         1
261,34         1
283,97         1
305,42         1
427,78         1
392,95         1
329,89         1
332,23         1
434,52         1
351,49         1
418,68         1
347,28         1
319,75         1
402,01         1
384,86         1
329,44         1
292,28         1
362,79         1
455,87         1
486,16         1
267,32         1
290,15         1
442,74         1
266,00         1
366,07         1
83,97          1
253,33         1
297,98         1
261,36         1
411,10         1
255,65         1
399,85         1
68,48          1
459,08         1
272,35         1
339,96         1
348,52         1
420,37         1
304,13         1
313,30         1
428,32         1
314,36         1
359,79         1
281,27         1
452,89         1
63,45          1
339,37         1
465,10         1
320,25         1
92,36          1
472,13         1
278,45         1
425,02         1
346,37         1
241,56         1
38,61          1
343,28         1
347,87         1
413,11         1
297,45         1
423,98         1
259,56         1
198,89         1
DQ             1
370,23         1
271,73         1
419,45         1
379,74         1
322,75         1
333,82         1
348,55         1
292,50         1
302,89         1
370,74         1
383,46         1
261,78         1
306,17         1
272,83         1
112,59         1
347,54         1
345,25         1
134,48         1
248,13         1
378,38         1
367,62         1
334,91         1
372,91         1
303,27         1
507,30         1
86,24          1
284,31         1
454,66         1
315,40         1
260,09         1
336,27         1
272,55         1
308,85         1
123,08         1
332,45         1
90,74          1
362,18         1
386,68         1
417,91         1
187,35         1
336,45         1
356,24         1
434,93         1
418,34         1
433,84         1
291,86         1
360,70         1
299,21         1
414,19         1
352,72         1
226,50         1
356,72         1
287,99         1
92,48          1
335,95         1
325,39         1
365,86         1
430,33         1
320,62         1
359,58         1
313,55         1
220,35         1
295,34         1
273,00         1
395,08         1
99,15          1
287,66         1
55,71          1
434,77         1
409,28         1
402,95         1
349,43         1
317,73         1
399,04         1
295,51         1
493,72         1
313,72         1
363,35         1
99,54          1
305,13         1
366,89         1
242,58         1
280,96         1
349,97         1
324,77         1
340,96         1
290,49         1
289,74         1
270,65         1
345,34         1
331,09         1
369,54         1
501,46         1
467,08         1
315,64         1
304,80         1
333,50         1
393,15         1
63,28          1
434,47         1
255,21         1
112,67         1
378,28         1
467,38         1
267,74         1
296,77         1
402,14         1
127,29         1
312,10         1
436,57         1
292,89         1
448,99         1
230,98         1
335,97         1
315,50         1
282,70         1
377,11         1
56,34          1
267,21         1
361,92         1
296,24         1
271,55         1
324,16         1
462,77         1
294,06         1
296,01         1
358,05         1
331,43         1
300,68         1
343,18         1
442,00         1
247,25         1
376,57         1
415,21         1
433,94         1
361,50         1
381,84         1
387,45         1
373,85         1
326,75         1
348,96         1
284,17         1
365,60         1
432,32         1
297,72         1
375,75         1
327,52         1
304,61         1
382,14         1
479,38         1
164,55         1
266,50         1
393,58         1
82,45          1
424,66         1
442,63         1
358,86         1
281,70         1
349,93         1
311,74         1
277,68         1
380,82         1
413,44         1
278,74         1
362,24         1
287,35         1
345,77         1
284,40         1
372,05         1
287,46         1
341,60         1
369,84         1
60,19          1
356,06         1
369,98         1
287,02         1
362,83         1
324,34         1
39,04          1
262,58         1
337,25         1
275,70         1
292,19         1
315,19         1
430,80         1
419,95         1
302,95         1
214,52         1
83,14          1
314,19         1
392,98         1
Name: Wilks, dtype: int64

In [14]:
#Fix
def fix_wilks(df):
    df.Wilks.replace(['BMB', '-', 'out', 'x', 'Disq.', 'Disq', '?', 'DQ (fees)', 'withdrawn', 'DQ'], np.nan, inplace = True)
    df.Wilks = df.Wilks.str.replace(',', '.', regex = False)
    return df

##### BDW column

In [15]:
#Inspect
#df.BDW.value_counts()
df[~df.BDW.fillna('').str.match(r'^-?\d+(\.\d+)?[+]?$')].BDW.value_counts()

92,20     5
81,85     5
73,85     5
65,75     4
80,80     4
72,90     4
82,95     4
82,10     4
73,80     4
55,00     4
103,90    4
119,40    4
72,00     4
73,70     3
92,00     3
62,90     3
69,70     3
92,45     3
70,70     3
75,90     3
71,60     3
90,80     3
82,25     3
78,85     3
73,20     3
82,00     3
80,60     3
71,00     3
63,00     3
64,90     3
82,50     3
91,25     3
71,40     3
60,30     3
92,65     3
104,25    3
69,90     3
117,70    3
89,55     3
92,80     3
64,00     3
78,50     3
82,90     3
62,30     3
102,95    3
80,30     3
101,55    3
97,50     3
72,70     2
91,10     2
82,75     2
113,25    2
51,40     2
119,15    2
62,95     2
65,65     2
80,20     2
91,75     2
91,60     2
95,60     2
103,40    2
104,65    2
62,85     2
65,50     2
92,90     2
50,95     2
82,20     2
62,50     2
90,00     2
92,60     2
136,60    2
81,50     2
82,40     2
104,90    2
81,30     2
92,55     2
107,90    2
104,55    2
92,50     2
102,35    2
92,70     2
73,75     2
81,20     2
71,75     2
51,60     2
86,95     2
69,75     2
104,50    2
61,80     2
74,50     2
48,45     2
73,30     2
44,60     2
70,45     2
80,50     2
97,15     2
81,05     2
86,40     2
44,70     2
78,65     2
83,50     2
73,55     2
80,40     2
94,85     2
71,30     2
62,15     2
103,35    2
88,95     2
71,25     2
65,90     2
96,35     2
71,90     2
56,30     2
91,35     2
86,05     2
90,70     2
72,15     2
138,05    2
61,95     2
73,50     2
62,60     2
92,25     2
71,95     2
59,90     2
97,25     2
62,65     2
79,95     2
91,05     2
55,70     2
55,50     2
114,40    2
72,55     2
91,65     2
56,75     2
50,75     2
70,35     2
65,00     2
71,50     2
93,00     2
77,90     2
91,00     2
89,60     2
114,00    1
70,10     1
57,50     1
69,05     1
90,40     1
82,60     1
89,20     1
104,20    1
71,35     1
116,00    1
70,30     1
74,70     1
60,45     1
152,95    1
68,95     1
65,40     1
62,45     1
61,65     1
62,40     1
177,95    1
80,35     1
55,05     1
54,40     1
88,40     1
79,60     1
155,80    1
81,70     1
132,70    1
72,10     1
104,30    1
58,75     1
67,75     1
151,80    1
46,30     1
89,85     1
115,55    1
83,30     1
117,55    1
73,35     1
57,10     1
114,70    1
61,35     1
83,25     1
110,55    1
70,85     1
185,70    1
73,95     1
96,00     1
95,55     1
126,85    1
76,00     1
103,00    1
130,60    1
69,50     1
92,40     1
74,05     1
49,20     1
46,70     1
84,20     1
115,65    1
94,30     1
93,25     1
83,00     1
62,52     1
149,30    1
61,18     1
76,65     1
131,60    1
84,30     1
73,05     1
82,35     1
68,60     1
81,66     1
70,20     1
110,40    1
62,70     1
52,60     1
118,25    1
?72.9     1
70,06     1
118,50    1
102,65    1
136,30    1
63,80     1
67,65     1
84,80     1
143,15    1
102,25    1
86,60     1
66,15     1
76,90     1
90,75     1
70,60     1
87,85     1
61,85     1
105,00    1
90,60     1
73..6     1
?59.9     1
95,00     1
115,45    1
90,04     1
106,95    1
81,40     1
90,45     1
84,90     1
84,40     1
60,05     1
58,00     1
82,15     1
50,85     1
63,85     1
?43.9     1
54,65     1
51,15     1
94,40     1
90,85     1
87,75     1
76,75     1
89,75     1
91,80     1
61,00     1
61,60     1
47,45     1
72,45     1
67,70     1
102,90    1
147,05    1
96,70     1
46,25     1
100,05    1
177,40    1
70,15     1
87,05     1
58,50     1
112,85    1
63,60     1
82,55     1
87,60     1
106,80    1
91,90     1
129,75    1
69,95     1
151,30    1
87,30     1
71,15     1
47,00     1
90,05     1
72,95     1
111,50    1
82,70     1
50,40     1
119,00    1
119,80    1
54,30     1
89,40     1
83,75     1
69,65     1
123,70    1
61,75     1
55,76     1
86,20     1
102,50    1
80,00     1
46,10     1
92,35     1
146,55    1
110,15    1
46,94     1
78,05     1
72,30     1
57,90     1
72,50     1
98,50     1
67,95     1
81,90     1
131,78    1
68,25     1
80,65     1
88,80     1
46,26     1
144,40    1
119,85    1
87,90     1
115,40    1
64,70     1
66,70     1
129,70    1
98,55     1
104,45    1
61,20     1
80,85     1
79,70     1
50,66     1
121,65    1
104,60    1
91,50     1
66,00     1
89,70     1
79,30     1
91,15     1
81,60     1
120,00    1
65,35     1
58,60     1
117,40    1
122,40    1
69,15     1
63,20     1
79,45     1
60,85     1
73,60     1
91,20     1
71,10     1
65,84     1
56,80     1
60,95     1
53,65     1
90,20     1
63,45     1
68,40     1
82,65     1
74,15     1
56,10     1
73,25     1
65,80     1
112,05    1
120,80    1
72,35     1
48,75     1
70,90     1
56,35     1
63,55     1
46,15     1
101,90    1
64,50     1
63,75     1
51,68     1
104,85    1
113,10    1
103,62    1
81,55     1
72,04     1
126,90    1
56,36     1
81,10     1
70,05     1
100,95    1
124,35    1
88,10     1
101,20    1
56,48     1
83,65     1
81,25     1
61,15     1
112,30    1
56,05     1
56,45     1
56,34     1
116,45    1
80,95     1
54,84     1
76,20     1
75,80     1
95,35     1
51,50     1
62,35     1
65,85     1
89,90     1
93,40     1
56,95     1
150,20    1
59,85     1
85,00     1
62,75     1
128,00    1
71,20     1
147,20    1
82,80     1
42,82     1
104,05    1
72,60     1
87,15     1
66,55     1
51,30     1
116,75    1
90,55     1
73,00     1
56,84     1
91,55     1
73,45     1
83,60     1
56,44     1
80,10     1
109,50    1
83,55     1
119,25    1
115,20    1
60,40     1
92,95     1
113,50    1
121,60    1
77,20     1
57,85     1
88,20     1
95,10     1
111,05    1
57,00     1
74,00     1
45,26     1
72,80     1
50,70     1
47,15     1
61,56     1
81,95     1
97,10     1
67,10     1
58,85     1
82,30     1
60,00     1
111,45    1
105,90    1
58,40     1
68,03     1
62,10     1
126,72    1
99,15     1
72,64     1
74,40     1
81,65     1
102,15    1
78,95     1
117,05    1
55,40     1
82,45     1
82,38     1
100,50    1
81,75     1
78,30     1
64,25     1
70,50     1
53,70     1
71,70     1
100,15    1
56,54     1
61,10     1
96,10     1
73,09     1
Name: BDW, dtype: int64

In [16]:
#Fix
def fix_bdw(df):
    df.BDW = df.BDW.str.replace(',', '.', regex = False)
    df.BDW = df.BDW.str.replace('..', '.', regex = False)
    df.BDW = df.BDW.str.replace('?', '', regex = False)
    df.BDW.replace('BMB', np.nan, inplace = True)
    return df

##### Place column

In [17]:
#Inspect
df.Place.value_counts()
#df[df.Place.fillna('1').str.isnumeric()].Place.value_counts() #Fine
#df[~df.Place.fillna('1').str.isnumeric()].Place.value_counts() #Bad

#Bad categories:
#df[~df.Place.fillna('').str.contains('\d')].Place.value_counts() #No info
#df[df.Place.fillna('').str.match('^\d+(?:st|nd|rd|th)')].Place.value_counts() #Suffix + Additional info included
#df[df.Place.fillna('').str.match('.+(kg$)')] #All of these have division/class info already - can remove from place column
#df[df.Place.fillna('').str.match('^\d+(?:st|nd|rd|th)$')].Place.value_counts() #Has "th", "st", "nd", "rd" suffix
#df[df.Place.fillna('').str.contains('[a-zA-Z]')].Place.value_counts() #Additional info (from one comp only)
#df[~df.Place.fillna('1').str.isnumeric()].CompID.unique() #Comps with placing for 2 classes

1                7648
2                3566
3                2030
4                1209
5                 726
6                 459
7                 259
8                 172
-                 148
9                 111
10                 74
1st                61
11                 58
?-?                47
12                 44
GOLD               43
2nd                42
-?                 38
BMB                36
1 & 1              30
13                 30
3rd                28
14                 20
4th                20
SILVER             17
15                 16
5th                15
BRONZE             11
16                 11
7th                10
x                   8
19                  8
6th                 8
18                  8
17                  8
12th                7
9th                 7
20                  6
10th                6
1.1                 5
21                  5
22                  5
1 & 2               4
1st J 66kg          4
1st M1 120+kg       4
Disq.               4
1 & 3               4
2nd M1 105kg        4
1st M1 74kg         4
1st J 74kg          4
?                   4
1st M1 105kg        4
1st M1 120kg        4
1st J 83kg          4
1st SJ 72kg         4
1-Jan               4
DQ                  4
Inv                 4
1st M1 93kg         4
1st M3 93kg         3
1st SJ 66kg         3
2nd SJ 84+kg        3
23                  3
1st J 120+kg        3
2nd M1 93kg         3
24                  3
2 & 2               3
1&1                 3
2 & 1               3
14th                3
1st J 57kg          3
2nd J 83kg          3
1st BP              3
1st J 52kg          3
1st M2 120kg        3
1st SJ 84+kg        3
1st O93kg           3
1st J 93kg          3
8th                 3
1st M2 72kg         2
1st SJ 74kg         2
1st M2 83kg         2
1st O 52kg          2
18th                2
1 BP                2
2nd O 83kg          2
2nd M1 74kg         2
2nd J 66kg          2
3rd M1 105kg        2
1st O 66kg          2
3 & 3               2
1st O57kg           2
1st F               2
2nd O 120kg         2
26                  2
1st J 105kg         2
0                   2
1st O 83kg          2
1st M1 63kg         2
25                  2
2nd J 120+kg        2
1st M3 74kg         2
2nd O93kg           2
1st O83kg           2
8 & 2               2
1st O 74kg          2
13th                2
1st M1 83kg         2
2nd O 105kg         2
2nd O105kg          2
1st M3 105kg        2
2nd O 74kg          2
1st M3 83kg         2
1st J 72kg          2
11th                2
3rd O 83kg          2
?-??                2
1st O 93kg          2
1st O66kg           2
3rd O 93kg          2
1st M2 105kg        2
1st O 63kg          2
1st J 120kg         2
1st SJ 83kg         2
1st M3 59kg         2
1st M2 84kg         2
1st M1 59kg         2
1st J 63kg          2
1st O74kg           2
2-Jan               2
2.1                 2
3.1                 2
1st O63kg           2
1st O 57kg          2
5 & 2               2
3rd O 120kg         2
1st O 120kg         2
1st O52kg           2
1st M               2
3rd J 66kg          2
3rd O 105kg         2
1st O105kg          2
2nd O 66kg          2
X                   2
1st O 84+kg         2
1st O 105kg         2
2nd O 93kg          2
1st J 84kg          2
3rd J 120+kg        2
3 & 1               2
2nd J 105kg         1
1 + 3               1
1st O120kg          1
3rd J 83kg          1
4th O 93kg          1
2nd O66kg           1
1st O120+kg         1
2nd M3 105kg        1
1st M4 74kg         1
2nd O 63kg          1
2 + 1               1
3rd J 105kg         1
15th                1
4-Jan               1
1st SJ 120kg        1
5th O83kg           1
1st M1 66kg         1
5th M1 93kg         1
4th M1 93kg         1
2nd O 57kg          1
1st M3 66kg         1
5-Jan               1
N.E.                1
1st SJ 120+kg       1
3rd M1 93kg         1
28                  1
1J                  1
7 & 1               1
3rd O 63kg          1
1st PL              1
3 + 5               1
1 &1                1
3rd J 74kg          1
1st SJ 47kg         1
1-Mar               1
1st M2 74kg         1
2nd M1 120+kg       1
5 + 4               1
2 + 2               1
`1                  1
Most Imp            1
1st M2?47kg         1
1st O84+kg          1
1st O 47kg          1
1,1,1               1
1st SJ 63kg         1
`.1                 1
1BO, 1BP            1
1st SJ 43kg         1
2nd O 72kg          1
4th O83kg           1
1st SJ 59kg         1
1st M2 66kg         1
1st?J 57kg          1
2nd J 74kg          1
1st M3 84kg         1
1&2                 1
2nd?O83kg           1
1-Nov               1
3-Jan               1
1st BP F            1
4.1                 1
30                  1
1st BP M            1
1st O72kg           1
2nd M2 120kg        1
2nd O120kg          1
2nd M1 120kg        1
1st Mtr             1
1st O 120+kg        1
2nd O63kg           1
2nd O57kg           1
1st M2 47kg         1
3&1                 1
2nd M1 63kg         1
1J, 1BP             1
2nd SJ 72kg         1
Disq                1
7 & 3               1
bmb                 1
1st J 59kg          1
1st O102kg          1
2nd M2 105kg        1
3rd O83kg           1
1 1                 1
2 & 3               1
1st M2 93kg         1
1st O 72kg          1
2nd SJ?72kg         1
3rd M1 120kg        1
1st J 102kg         1
31                  1
1st SJ 84kg         1
16th                1
1st?J 105kg         1
17th                1
2nd SJ 83kg         1
2nd M3 74kg         1
4th O 66kg          1
1st O 59kg          1
2nd J 52kg          1
2nd O59kg           1
G                   1
1st M2 52kg         1
1st M1 84kg         1
29                  1
Guest               1
2nd M2 83kg         1
27                  1
1st O59kg           1
4th O 83kg          1
3rd O 66kg          1
4th J 83kg          1
1-Feb               1
1 J                 1
Name: Place, dtype: int64

In [18]:
#Fix
def fix_place(df):
    df.Place.replace(['0', '-', '?-?', '-?', 'BMB', 'x', 'DQ', 'Disq.', '?', 'Inv', '?-??', 'X', 'Guest', 'N.E.', 'Most Imp', 'G', 'Disq', 'bmb'], np.nan, inplace = True)
    df.replace({'Place' : {'GOLD': '1', 'SILVER': '2', 'BRONZE': '3', '`.1': '1', '`1': '1'}}, inplace = True)
    df.Place = df.Place.str.replace('Jan', '1', regex = False)
    df.Place = df.Place.str.replace('Feb', '2', regex = False)
    df.Place = df.Place.str.replace('Mar', '3', regex = False)
    df.Place = df.Place.str.replace('-Nov', '', regex = False)
    df.Place = df.Place.str.replace('?', ' ', regex = False)
    df.loc[df[df.Place.fillna('').str.match('^\d+(?:st|nd|rd|th)')].index, 'Place'] = df[df.Place.fillna('').str.match('^\d+(?:st|nd|rd|th)')].Place.str.split(' ', expand = True)[0].str.strip('stnrdh') #Terrible
    df.loc[df[df.Place.fillna('').str.contains('[a-zA-Z]')].index, 'Place'] = '1'
    df.loc[df[~df.Place.fillna('1').str.isnumeric()].index, 'Place'] = np.nan
    return df

##### Name column

In [243]:
#Inspect
#df[~df.Name.str.contains("^[.a-zA-Z '-]+$")].Name #Names that have characters other than a-z, spaces, apostrophe and dash.
#df[df.Name.str.contains("\s$")].Name
#df[df.Name.str.contains("- ")].Name

Series([], Name: Name, dtype: object)

In [241]:
#Fix
def fix_name(df):
    df.loc[12467, 'Name'] = 'Steven Melekiola'
    df.loc[2036, 'Name'] = "MAX O'TOOLE"
    df.loc[1491, 'Name'] = "Mark Shillington"
    df.loc[2706, 'Name'] = "MARK O'SHEA"
    df.loc[7688, 'Name'] = "Clair Angel"
    df.loc[3088, 'Name'] = "Rick Lewis"
    df.Name = df.Name.str.replace('?', '', regex = False)
    df.Name = df.Name.str.replace("'Sasha'", '', regex = False)
    df.Name = df.Name.str.replace('*', '', regex = False)
    df.Name = df.Name.str.replace('- ', '-', regex = False)
    df.Name = df.Name.str.replace(' -', '-', regex = False)
    df.Name = df.Name.str.replace('4th BP', '', regex = False)
    df.Name = df.Name.str.replace(' - u18', '', regex = False)
    df.Name = df.Name.str.replace('u18', '', regex = False)
    df.Name = df.Name.str.replace('??QLD', '', regex = False)
    df.Name = df.Name.str.replace('QLD', '', regex = False)
    df.Name = df.Name.str.replace(r'\([^)]*\)', '')
    df.Name = df.Name.str.replace(r'\"[^)]*\"', '')
    df.loc[df[~df.Name.str.contains("^[.a-zA-Z '-]+$")].index, 'Name'] = df[~df.Name.str.contains("^[.a-zA-Z '-]+$")].Name.str.split(', ').str[::-1].str.join(' ')
    df.Name = df.Name.str.replace('(\s{2})', '')
    df.Name = df.Name.str.strip()
    return df

##### TotalKg column

In [ ]:
#Inspect
df.Total.

### Execute

In [242]:
#One function
def fix_all(df):
    df = fix_sex(df)
    df = fix_class(df)
    df = fix_dob(df)
    df = fix_division(df)
    df = fix_wilks(df)
    df = fix_bdw(df)
    df = fix_place(df)
    df = fix_name(df)
    return df
df = fix_all(pd.read_csv("../../Data/Tidy_Full.csv", index_col = 0))

# Testing area

In [22]:
#opdf = pd.read_csv("../../Data/openpowerlifting-2021-03-31-ab223798.csv", index_col = 0)

In [23]:
df.columns

Index(['CompID', 'Name', 'Sex', 'Class', 'Division', 'BestBP', 'Total',
       'Place', 'BestSQ', 'BestDL', 'BDW', 'BP1', 'BP2', 'BP3', 'Wilks', 'SQ1',
       'SQ2', 'SQ3', 'DL1', 'DL2', 'DL3', 'DOB'],
      dtype='object')